<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Layout.html </title>
</head>

<body style= "background-color: white;">

    <header style="background-color: silver;">
        <h1 align= "center"> Belajar elemen semantik di HTML</h1>
    </header>
    
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>

    <article style="background-color: silver;">
        <h1> Tutorial Semantik Elemen untuk Pemula </h1>
        <p> Semantik elemen adalah elemen yang memiliki makna dan tujuan. 
            Tujuanny agar kode HTML mudah dibaca dan tidak ada penyalahgunaan tag.
            Elemen semantik bagus untuk SEO dan juga dapat meningkatkan accessibility.
        </p>
    </article>

    <footer style="background-color: yellow"; align= "center">
       Copyright &copy;2022 by Nabnab 
    </footer>
</body>

</html>